body{
  background-color: #b97e46;
  background-image: url('pictures/surface.jpg');
  background-size: 100%;

}
.inline-block {
  display: inline-block;
  vertical-align: top;
  outline: 1px solid red;
}

.logo {
  width: 23%;
  padding: 1%;
  text-align: center;
  outline: 1px solid red;
}

nav {
  width: 73%;
  padding: 1%;
  outline: 1px red;
  background-color: green;
  background-image: url('pictures\green-grass-field-background.jpg');
  background-size: 73%;
}

ul {
  width: 50%;
  margin-left: auto;
 
}

.heroimg {
  height: 600px;
  padding: 25px;
  outline: 1px red;
}

.content {
  width: 500px;
  margin: 0 auto;
  outline: 1px red;
}

footer {
  background-color: #373738;
}
.test {
  outline: 1px red;
}
img {
  max-width:50%;
          height:auto;
}
li{
  background-color: yellow;
}
.aboutme{
  background-color: #FCF5E5;
}